<nav>
  <ul class="nav navbar">
    <li class="nav-list"><a href="" class="nav-link" routerLink="/question1" routerLinkActive="active">Question-1</a>
    </li>
    <li class="nav-list"><a href="" class="nav-link" routerLink="/question2" routerLinkActive="active">Question-2</a>
    </li>
    <li class="nav-list"><a href="" class="nav-link" routerLink="/question3" routerLinkActive="active">Question-3</a>
    </li>
    <li class="nav-list"><a href="" class="nav-link" routerLink="/question4" routerLinkActive="active">Question-4</a>
    </li>
  </ul>
</nav>
